<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>06-09</title>
    <style>
        .bColor { background-color: aqua; color: black; }
        .bLayout { text-align: center; width: 120px; }
        .bBorder { border: khaki dashed 1px; }
    </style>
</head>
<body>
    <div id="app">
        <button class="staticBorder" :class="{ bColor, bLayout, bBorder}">
            버튼1
        </button>
        <p>
            <input type="checkbox" v-model="bColor" value="true" />색상</br />
            <input type="checkbox" v-model="bLayout" value="true" />정렬,크기</br />
            <input type="checkbox" v-model="bBorder" value="true" />테두리선</br />
        </p>
    </div>
    <script type="text/javascript" src="https://unpkg.com/vue"></script>
    <script type="text/javascript">
        const BASE_URL = 'https://contactsvc.bmaster.kro.kr';
        let vm = Vue.createApp({
            name: 'App',
            data: () => ({ 
                bColor: false,
                bLayout: false,
                bBorder: false
            }),
        }).mount('#app');
    </script>
</body>
</html>